# Ignore the Google SDK directory
TekM8-Back/google-cloud-sdk/

# Ignore the Vision API key
src/tekmate-vision-key.json

# Ignore uploaded files
uploads/

# Ignore OpenAI key file
src/openAI_Key.txt

# Ignore environment variables
.env
